<section id="{{ block.section_id|default }}" class="js-show-on-scroll">
    <div class="container-site | relative">

        <div class="o-tag-section mb-4 | lg:mb-0 lg:absolute lg:bottom-0 lg:left-0">{{ block.section_tag }}</div>

        <div class="lg:flex lg:items-center">

            <div class="swiper-image-text swiper-container | lg:w-9/18">
                <div class="swiper-wrapper">
                    {% for slide in block.slider %}
                    <div class="swiper-slide">
                   
                        <picture>
                            <source media="(min-width: 1024px)" srcset="{{ Image(slide.image).src|resize(1570, 1930) }}"">
                            <img class="swiper-image-text-image" src="{{ Image(slide.image).src|resize(1024, 1258) }}" alt="" />
                        </picture>

                    </div>
                    {% endfor %}
                </div>

                <!-- navigation buttons -->
                <div class="flex justify-end mt-4 w-full | lg:mt-8">

                    <div class="swiper-button-prev-custom mr-6">
                        <svg class="icon icon-arrow-left text-black">
                            <use xlink:href="{{ sprite }}#icon-arrow-left"></use>
                        </svg>
                    </div>
                    <div class="swiper-button-next-custom">
                        <svg class="icon icon-arrow-right  text-black">
                            <use xlink:href="{{ sprite }}#icon-arrow-right"></use>
                        </svg>
                    </div>
                </div>

            </div>

            <div class="mt-4 | lg:mt-0 lg:w-6/18 lg:ml-1/18">
                <h3 class="swiper-image-text-title o-heading">{{ block.title }}</h3>
                <div class="swiper-image-text-text o-wysiwyg-simple | text-base mt-4 | lg:mt-8">{{ block.text }}</div>
            </div>

        </div>

    </div>
</section>
